.toDo {}

.container {
  max-width: 800px;
  padding: 0px 15px;
  margin: 0 auto;
}

.toDo_content {
  margin-top: 100px;
  padding: 15px 30px;
  border: 1px solid black;
}

.toDo_input {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.toDo_input input {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}


.toDo_input input::placeholder {
  font-weight: 400;
}

.toDo_input input:focus {
  outline: none;
}


.toDo_btn {
  font-weight: 400;
  border: 1px solid black;
  color: black ;
  padding: 5px 15px;
  transition: all 0.5s ease-in-out;
}

.toDo_btn:hover {
  color: #FFFF;
  background-color: black;
}

.toDo_items {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.toDo_item {
  margin: 15px 0px;

  font-size: 20px;
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.toDo_item_btn {
  transition: all 0.3s ease-in-out;
}

.toDo_item_btn:hover {
  background-color: #eeecec;
  padding: 10px;
}
.you_have_zero{
  font-weight: 300;
}

.you_have{
  font-weight: 600;
}